<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SelectionCommittee</display-name>
  <welcome-file-list>
    <welcome-file>welcome</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>welcomeServlet</servlet-name>
  	<servlet-class>main.java.com.epam.controller.web.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>welcomeServlet</servlet-name>
  	<url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>main.java.com.epam.controller.web.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>closeFacultyReceptionServlet</servlet-name>
    <servlet-class>main.java.com.epam.controller.web.CloseFacultyReseptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>closeFacultyReceptionServlet</servlet-name>
    <url-pattern>/close_faculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>submitToRollServlet</servlet-name>
    <servlet-class>main.java.com.epam.controller.web.SubmitToRollServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitToRollServlet</servlet-name>
    <url-pattern>/submit_roll</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminHomeServlet</servlet-name>
    <servlet-class>main.java.com.epam.controller.web.AdminHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminHomeServlet</servlet-name>
    <url-pattern>/entrants</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>entrantHomeServlet</servlet-name>
    <servlet-class>main.java.com.epam.controller.web.EntrantHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>entrantHomeServlet</servlet-name>
    <url-pattern>/faculties</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>main.java.com.epam.controller.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>processMarksServlet</servlet-name>
    <servlet-class>main.java.com.epam.controller.web.ProcessMarksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>processMarksServlet</servlet-name>
    <url-pattern>/process_marks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>main.java.com.epam.controller.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>facultyServlet</servlet-name>
    <servlet-class>main.java.com.epam.controller.web.FacultyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>facultyServlet</servlet-name>
    <url-pattern>/faculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>indexAdminJSP</servlet-name>
    <jsp-file>/jsp/index_admin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexAdminJSP</servlet-name>
    <url-pattern>/jsp/index_admin.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>indexEntrantJSP</servlet-name>
    <jsp-file>/jsp/index_entrant.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexEntrantJSP</servlet-name>
    <url-pattern>/jsp/index_entrant.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>facultyJSP</servlet-name>
    <jsp-file>/jsp/faculty.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>facultyJSP</servlet-name>
    <url-pattern>/jsp/faculty.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>marksFromJSP</servlet-name>
    <jsp-file>/jsp/marks_form.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>marksFromJSP</servlet-name>
    <url-pattern>/jsp/marks_form.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginJSP</servlet-name>
    <jsp-file>/jsp/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginJSP</servlet-name>
    <url-pattern>/jsp/login.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userNameJSP</servlet-name>
    <jsp-file>/jsp/user_name.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>userNameJSP</servlet-name>
    <url-pattern>/jsp/user_name.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registrationJSP</servlet-name>
    <jsp-file>/jsp/registration.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationJSP</servlet-name>
    <url-pattern>/jsp/registration.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>facultiesJSP</servlet-name>
    <jsp-file>/jsp/faculties.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>facultiesJSP</servlet-name>
    <url-pattern>/jsp/faculties.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>entrantsJSP</servlet-name>
    <jsp-file>/jsp/entrants.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>entrantsJSP</servlet-name>
    <url-pattern>/jsp/entrants.jsp</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>verifyUserFilter</filter-name>
    <filter-class>main.java.com.epam.controller.web.filter.VerifyUserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>verifyUserFilter</filter-name>
    <url-pattern>/jsp/marks_form.jsp</url-pattern>
    <url-pattern>/process_marks</url-pattern>
    <url-pattern>/jsp/index_entrant.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>verifyAdminFilter</filter-name>
    <filter-class>main.java.com.epam.controller.web.filter.VerifyAdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>verifyAdminFilter</filter-name>
    <url-pattern>/close_faculty</url-pattern>
    <url-pattern>/submit_roll</url-pattern>
    <url-pattern>/jsp/index_admin.jsp</url-pattern>
  </filter-mapping>
</web-app>